.isaMenu .cl{clear:both}
.isaMenu img,object,embed,video{border:0 none;max-width:100%}
.isaMenu a:focus{outline:none}
.isaMenu:before,.isaMenu:after{content:"";display:table}
.isaMenu:after{clear:both}
.headerfull{width:100%;height:60px;position:relative;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.smllogo{padding:10px 0 0;margin:0;float:left;width:292px}
.smllogo a{display:block;float:left;padding:0}
.smllogo img{width:auto;height:40px}
.isaMain{width:100%;margin:0 auto;padding:0 25px}
.isaMenu{width:calc(100% - 292px);float:left;font-family:Helvetica,sans-serif;color:#fff;position:relative;font-size:13px;padding:0;display:block;margin:0;border-left:1px solid rgba(0,0,0,0.1)}
.isaMenu>.isaMenu-list{text-align:left;margin:0 auto;width:100%;display:block;padding:0;position:relative}
.isaMenu>.isaMenu-list>li{display:block;float:left;padding:0;margin:0}
.isaMenu>.isaMenu-list>li>.navtext{line-height:16px;text-align:right;padding:14px 20px;margin:0}
.isaMenu>.isaMenu-list>li>a{display:block;text-decoration:none;position:relative}
.isaMenu>.isaMenu-list>li>.navtext>span+span:after{display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;-webkit-font-smoothing:antialiased;content:"\f078";font-family:"Font Awesome 5 Free";font-weight:900;font-size:9px;line-height:10px;margin-left:0;position:relative;right:-7px;text-align:right;top:1px}
.isaMenu>.isaMenu-list>li>.navtext>span{display:block;font-size:11px;text-align:left;white-space:nowrap;width:100%;line-height:16px}
.isaMenu>.isaMenu-list>li>.navtext>span+span{white-space:nowrap;font-size:12px;font-weight:700}
.isaMenu>.isaMenu-list>li a:hover .arrow:after{border-top-color:#b3b3b3}
.isaMenu>.isaMenu-list>li a.active .arrow:after{border-top-color:#b3b3b3}
.isaMenu>.isaMenu-list>li:hover>a .arrow:after{border-top-color:#b3b3b3}
.isaMenu>.isaMenu-list>li.isaSearchbar{width:40%;float:left;padding-left:15px}
.isaMenu>.isaMenu-list>li.isaSearchbar>.topmenusearch{float:right;width:100%;height:42px;position:relative;margin:9px 0 0}
.isaMenu>.isaMenu-list>li.isaSearchbar>.topmenusearch>.searchicon{-webkit-transition:all .7s ease 0;-moz-transition:all .7s ease 0;-o-transition:all .7s ease 0;transition:all .7s ease 0}
.isaMenu>.isaMenu-list>li.isaSearchbar>.topmenusearch>input{width:100%;position:relative;float:right;top:0;right:0;bottom:0;border:0;padding:0;margin:0;text-indent:15px;font-size:12px;height:42px;z-index:2;outline:none;color:#7d7d7d;-webkit-transition:all .7s ease 0;-moz-transition:all .7s ease 0;-o-transition:all .7s ease 0;transition:all .7s ease 0;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.isaMenu>.isaMenu-list>li.isaSearchbar>.topmenusearch>input:focus~.btnstyle{color:#fff;opacity:.9}
.isaMenu>.isaMenu-list>li.isaSearchbar>.topmenusearch>input:focus~.searchicon{opacity:1;z-index:3;color:#FFF}
.isaMenu>.isaMenu-list>li.isaSearchbar>.topmenusearch>.btnstyle{top:0;position:absolute;right:0;bottom:0;width:49px;line-height:30px;z-index:1;cursor:pointer;color:#fff;z-index:1000;border:solid 0;-webkit-transition:all .7s ease 0;-moz-transition:all .7s ease 0;-o-transition:all .7s ease 0;transition:all .7s ease 0;-webkit-border-radius:0 2px 2px 0;-moz-border-radius:0 2px 2px 0;border-radius:0 2px 2px 0}
.isaMenu>.isaMenu-list>li.isaSearchbar>.topmenusearch>.btnstyle>i{line-height:38px;margin:0;padding:0;text-align:center;color:#9c9c9c}
.isaMenu>.isaMenu-list>li>ul.sub-menu{position:absolute;top:60px;z-index:1000;margin:0;padding:0;min-width:190px;background-color:#fff;border:solid 1px #eee}
.isaMenu>.isaMenu-list>li>ul.sub-menu>li{position:relative;margin:0;padding:0;display:block}
.isaMenu>.isaMenu-list>li>ul.sub-menu>li>a{background-image:none;color:#666;border-right:0 none;text-align:left;display:block;line-height:22px;padding:8px 12px;text-transform:none;font-size:13px;letter-spacing:normal;border-right:0 solid}
.isaMenu>.isaMenu-list>li>ul.sub-menu>li>a:hover{text-decoration:none}
.isaMenu>.isaMenu-list>li>ul.sub-menu>li>a>i{margin-right:9px;font-size:14px}
.isaMenu>.isaMenu-list>li.wsshopmyaccount{float:right}
.isaMenu>.isaMenu-list>li.wsshopmyaccount>a{display:block;padding:0 24px;line-height:59px;text-decoration:none;position:relative}
.isaMenu>.isaMenu-list>.wsshopmyaccount>a i{display:inline-block;font-size:13px;line-height:inherit;margin-right:11px;vertical-align:middle}
.isaMenu>.isaMenu-list>li.isaCartIcon{float:right;clear:right}
.isaMenu>.isaMenu-list>li.isaCartIcon>a{display:block;color:#828181;padding:0 26px 0 22px;line-height:59px;text-decoration:none;position:relative}
.isaMenu>.isaMenu-list>li.isaCartIcon .hidetxt{display:none}
.isaMenu>.isaMenu-list>li.isaCartIcon a{padding:0 27px 0 23px;text-align:center;border-left:1px solid rgba(0,0,0,0.1);border-right:1px solid rgba(0,0,0,0.1)}
.isaMenu>.isaMenu-list>li.isaCartIcon a i{font-size:16px}
.isaMenu>.isaMenu-list>li.isaCartIcon em.roundpoint{position:absolute;top:14px;right:21px;width:17px;height:17px;background-color:#DA4B38;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;font-size:9px;text-align:center;font-style:normal;line-height:16px;color:#fff}
.isaMenu>.isaMenu-list>li.isaCartIcon i{display:inline-block;font-size:13px;line-height:inherit;margin-right:2px;color:#7b7b7b}
.isaMenu>.isaMenu-list>li>.isaShopTabing{width:100%;text-align:left;margin:0;padding:0;position:absolute;top:60px;background-color:#f8f8f8;left:0;border-bottom:solid 2px #376cb7;border-top:solid 0;z-index:101}
.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp{width:100%;display:block;position:relative;background-color:#f5f5f5;height:auto!important;min-height:320px}
.isaMenu>.isaMenu-list>li>.isaShopTabing.isaDepartmentMenu{background:#fff;border-bottom:solid 1px #d1d3d4}
.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem{display:block;margin:0;padding:0;font-size:12px}
.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li:before,.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li:after{content:"";display:table}
.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li:after{clear:both}
.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li{width:100%;list-style:none}
.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li>a{display:block;padding:10px 11px;font-size:13px;color:#606060;border-bottom:solid 1px #e5e5e5;width:23%;float:left;position:relative;border-left:3px solid #fff;background-color:#fff}
.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li:hover a{text-decoration:none}
.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li:hover>a{text-decoration:none}
.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li>a>i{color:#848484;margin-right:5px;text-align:center;width:24px;font-size:16px}
.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li>.isaTitemRight{opacity:0;visibility:hidden;position:absolute;right:0;top:0;background-color:#f5f5f5;color:#000;display:block;float:left;padding:10px 8px 0;width:77%;min-height:320px}
.isaMenu>.isaMenu-list>li:hover>.isaShopTabing>.isaShopwp>.isaTabItem>li.isaShopLink-active>.isaTitemRight{opacity:1;visibility:visible}
.carousel-caption{width:100%;display:block;text-align:center;right:0;left:0;margin:0;padding:0;bottom:0}
.carousel-caption h3{width:100%;display:block;padding:7px 0;background-color:rgba(0,0,0,0.5)}
.isaMenu>.isaMenu-list>li .isaBootSlider{float:right;margin-top:8px}
.isaMenu>.isaMenu-list>li .isatMegaMenuColr{display:block;float:right;margin-top:8px}
.isaMenu>.isaMenu-list>li .isaHeading{width:100%;display:block;padding:10px 0 6px;font-size:12px;font-weight:700;color:#333;border-bottom:solid 1px #d9d9d9;margin-bottom:12px;text-transform:uppercase}
.isaMenu>.isaMenu-list>li .isaTliststy01{padding:0 0 8px;margin:0}
.isaMenu>.isaMenu-list>li .isaTliststy01 li{width:33.33%;float:left;line-height:23px;font-size:14px;list-style:none;padding:0;margin:0}
.isaMenu>.isaMenu-list>li .isaTliststy01 li a{color:#6e6e6e;font-size:12px}
.isaMenu>.isaMenu-list>li .isaTliststy01 li a:hover{color:#000;text-decoration:none}
.isaMenu>.isaMenu-list>li .isaTliststy02{padding:5px 0 10px;margin:0;text-align:left}
.isaMenu>.isaMenu-list>li .isaTliststy02 li{width:100%;list-style:none;line-height:25px}
.isaMenu>.isaMenu-list>li .isaTliststy02 li a{color:#6e6e6e;font-size:12px}
.isaMenu>.isaMenu-list>li .isaTliststy02 li a:hover{color:#000;text-decoration:none}
.isaMenu>.isaMenu-list>li .isaTliststy02 li.isaHeading{line-height:normal;padding-left:0;margin-top:0;text-transform:none}
.isaMenu>.isaMenu-list>li .isaTliststy02 li a .wstcount{font-size:10px;color:#adadad}
.isaMenu>.isaMenu-list>li .isaTliststy06 li.isaHeading{line-height:normal;padding-left:0}
.isaMenu>.isaMenu-list>li .isaTliststy06{padding:0;margin:0}
.isaMenu>.isaMenu-list>li .isaTliststy06 li{width:100%;list-style:none;line-height:24px}
.isaMenu>.isaMenu-list>li .isaTliststy06 li a{color:#6e6e6e;font-size:12px}
.isaMenu>.isaMenu-list>li .isaTliststy06 li a:hover{color:#000;text-decoration:none}
.isaMenu>.isaMenu-list>li .isaTliststy06 li.isaHeading{line-height:normal}
.isaMenu>.isaMenu-list>li .isaTliststy06 li a .wstcount{font-size:10px;color:#adadad}
.isaMenu>.isaMenu-list>li .isaTliststy03{width:100%;padding:0 0 8px;margin:0}
.isaMenu>.isaMenu-list>li .isaTliststy03 li{width:33.33%;float:left;line-height:23px;font-size:14px;list-style:none;padding:0;margin:0}
.isaMenu>.isaMenu-list>li .isaTliststy03 li a{color:#6e6e6e;font-size:12px}
.isaMenu>.isaMenu-list>li .isaTliststy03 li a:hover{color:#000;text-decoration:none}
.isaMenu>.isaMenu-list>li .isaTliststy04{padding:14px 0 0;margin:0}
.isaMenu>.isaMenu-list>li .isaTliststy04 li{width:100%;list-style:none;line-height:22px}
.isaMenu>.isaMenu-list>li .isaTliststy04 li a{color:#6e6e6e;font-size:12px}
.isaMenu>.isaMenu-list>li .isaTliststy04 li a:hover{color:#000;text-decoration:none}
.isaMenu>.isaMenu-list>li .isaTliststy04 li.isaHeading{line-height:normal;text-align:center;padding:12px 0;font-size:13px;margin-bottom:12px}
.isaMenu>.isaMenu-list>li .isaTliststy04 li a .wstcount{font-size:10px;color:#adadad}
.isaMenu>.isaMenu-list>li .isaTliststy05{padding:10px 0 0;margin:0}
.isaMenu>.isaMenu-list>li .isatMegaMenuColr03{padding-top:10px;padding-left:20px}
.isaMenu>.isaMenu-list>li .isaTliststy05 li{width:100%;list-style:none;line-height:22px}
.isaMenu>.isaMenu-list>li .isaTliststy05 li a{color:#6e6e6e;font-size:12px}
.isaMenu>.isaMenu-list>li .isaTliststy05 li a:hover{color:#000;text-decoration:none}
.isaMenu>.isaMenu-list>li .isaTliststy05 li.isaHeading{line-height:normal}
.isaMenu>.isaMenu-list>li .isaTliststy05 li a .wstcount{font-size:10px;color:#adadad}
.isaMenu>.isaMenu-list>li .wstmorebtn{border-radius:2px;color:#9b9b9b;display:inline-block;float:right;font-size:10px;font-weight:400;letter-spacing:0;padding:1px 7px;text-align:right;text-transform:none}
.isaMenu>.isaMenu-list>li .isaMenuTag{height:18px;line-height:18px;text-align:center;font-size:11px;color:#fff;border-radius:2px;position:relative;font-family:Arial,Helvetica,sans-serif;font-weight:400;padding:1px 6px;margin-left:6px;text-transform:none;letter-spacing:-0}
.isaMenu>.isaMenu-list>li .isaMenuTag:after{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-image:none;border-style:solid;border-width:3px;content:"";left:-6px;margin-top:0;position:absolute;top:4px;z-index:1}
.isaMenu>.isaMenu-list>li .isaMenuTag.redtag{background-color:#fe7b8f}
.isaMenu>.isaMenu-list>li .isaMenuTag.redtag:after{border-color:transparent #fe7b8f transparent transparent}
.isaMenu>.isaMenu-list>li .isaMenuTag.greentag{background-color:#00c853}
.isaMenu>.isaMenu-list>li .isaMenuTag.greentag:after{border-color:transparent #00c853 transparent transparent}
.isaMenu>.isaMenu-list>li .isaMenuTag.bluetag{background-color:#4fc3f7}
.isaMenu>.isaMenu-list>li .isaMenuTag.bluetag:after{border-color:transparent #4fc3f7 transparent transparent}
.isaMenu>.isaMenu-list>li .isaMenuTag.orangetag{background-color:#FE7000}
.isaMenu>.isaMenu-list>li .isaMenuTag.orangetag:after{border-color:transparent #FE7000 transparent transparent}
.isaMenu>.isaMenu-list>li .kitchenmenuimg{background-image:url(../img/kitchen-menu-img.png);background-position:bottom right;background-repeat:no-repeat}
.isaMenu>.isaMenu-list>li .computermenubg{background-image:url(../img/computer-menu-img.png);background-position:bottom right;background-repeat:no-repeat}
.isaMenu>.isaMenu-list>li .isapngsml{padding-left:18px}
.isaMenu>.isaMenu-list>li .wstfullwtag{width:100%;display:block;border-bottom:solid 1px #e5e5e5;background-color:#f5f5f5}
.isaMenu>.isaMenu-list>li .isaBrandBottom{width:100%;background-color:#fff;display:block;opacity:0;position:absolute;right:0;visibility:hidden;padding:9px 6px}
.isaMenu-list>li:hover>.isaBrandMenu>.isaShopTabingwp>.isaTabItem02>li.isaShopLink-active>.isaBrandBottom{opacity:1;visibility:visible}
.isaMenu>.isaMenu-list>li .isaTabItem02{width:100%;padding:0;margin:0;list-style:none;display:table}
.isaMenu>.isaMenu-list>li .isaTabItem02>li{display:table-cell;list-style:outside none none;text-align:center}
.isaMenu>.isaMenu-list>li .isaTabItem02>li>a{display:block;padding:14px 0;font-size:13px;color:#717171;background-color:#f5f5f5;border-bottom:1px solid #e5e5e5;position:relative}
.isaMenu>.isaMenu-list>li .isaTabItem02>.isaShopLink-active>a:after{position:absolute;content:'';top:42px;right:50%;width:13px;height:13px;transform:rotate(225deg);-webkit-transform:rotate(225deg);-moz-transform:rotate(225deg);-o-transform:rotate(225deg);-ms-transform:rotate(225deg);border-right:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;z-index:100;background-color:#fff}
.isaMenu>.isaMenu-list>li .isaTabItem02>li:hover a{text-decoration:none;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px}
.isaMenu>.isaMenu-list>li .isaTabItem02>.isaShopLink-active>a{text-decoration:none;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;background-color:#f5f5f5;color:#333}
.isaMenu>.isaMenu-list>li .isaTabItem02>.isaShopLink-active>a>i{opacity:1}
.isaMenu>.isaMenu-list>li .isaTabItem02>li:hover a{text-decoration:none;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px}
.isaMenu>.isaMenu-list>li .isaTabItem02>li>a i{margin-right:5px;text-align:center;width:25px;font-size:17px;opacity:.5}
.isaMenu>.isaMenu-list>li .brandcolor01{color:#424242}
.isaMenu>.isaMenu-list>li .brandcolor02{color:#00bcf2}
.isaMenu>.isaMenu-list>li .brandcolor03{color:#00aff0}
.isaMenu>.isaMenu-list>li .brandcolor04{color:#003087}
.isaMenu>.isaMenu-list>li .brandcolor05{color:#a82400}
.isaMenu>.isaMenu-list>li .brandcolor06{color:#f30}
.isaMenu>.isaMenu-list>li .brandcolor07{color:#7ac142}
.isaMenu>.isaMenu-list>li .brandcolor08{color:#ef4056}
.isaMenu>.isaMenu-list>li>.isaMegaMenu{width:100%;left:0;position:absolute;top:60px;color:#000;z-index:1000;margin:0;text-align:left;padding:14px 5px;font-size:15px;border:solid 1px #eee;background-color:#fff}
.isaMenu>.isaMenu-list>li>.isaMegaMenu .title{border-bottom:1px solid #CCC;font-size:14px;padding:9px 5px 9px 0;font-size:17px;color:#424242;margin:0 0 7px;text-align:left;height:39px}
.isaMenu>.isaMenu-list>li>.isaMegaMenu .link-list li{display:block;text-align:center;white-space:nowrap;text-align:left}
.isaMenu>.isaMenu-list>li>.isaMegaMenu .link-list li a{line-height:18px;border-right:none;text-align:left;padding:6px 0;background:#fff;background-image:none;color:#666;border-right:0 none;display:block;background-color:#fff;color:#424242}
.isaMenu>.isaMenu-list>li>.isaMegaMenu li i{margin-right:5px;text-align:center;width:18px}
.isaMenu>.isaMenu-list>li>.isaMegaMenu li a:hover{background:transparent;text-decoration:underline}
.isaMenu>.isaMenu-list>li>.isaMegaMenu .link-list li i{font-size:11px}
.isaMenu>.isaMenu-list>li>.isaMegaMenu li i{margin-right:5px;text-align:center;width:18px}
.isaMenu>.isaMenu-list>li>.isaMegaMenu .mrgtop{margin-top:15px}
.isaMenu>.isaMenu-list>li>.isaMegaMenu .show-grid div{padding-bottom:10px;padding-top:10px;background-color:#dbdbdb;border:1px solid #e7e7e7;color:#6a6a6a;margin:2px 0;font-size:13px}
.isaMenu>.isaMenu-list>li>.isaMegaMenu.halfmenu{width:40%;right:auto;left:auto}
.isaMenu>.isaMenu-list>li>.isaMegaMenu.halfdiv{width:35%;right:0;left:auto}
.isaMobileHeader{display:none}
.overlapblackbg{opacity:0;visibility:hidden}
.isaMenu .isaMenu-click{display:none}
.isaMenu .isaMenu-click02{display:none}
.isaMenu .isaMenu-click03{display:none}
.hometext{display:none}

@media only screen and (max-width: 991px) {

	html{overflow:hidden;height:100%;-webkit-overflow-scrolling:touch}
	body{height:100%;overflow-y:auto;overflow-x:hidden}
	body.isaActive{overflow:hidden}
	.smllogo{display:none}
	.isaMain{margin:0;background-color:transparent}
	.isaMenu{width:100%;background:rgba(0,0,0,0) none repeat scroll 0 0;left:0;overflow-y:hidden;padding:0;top:0;visibility:hidden;position:fixed;margin:0;border-left:none}
	.isaMenu>.isaMenu-list{height:auto;min-height:100%;width:260px;background:#fff;padding-bottom:0;margin-left:-260px;display:block;text-align:center;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;transition:all .25s ease-in-out;position:static}
	.isaMenu>.isaMenu-list>li{width:100%;display:block;float:none;border-right:none;background-color:transparent;position:relative;white-space:inherit}
	.isaMenu>.isaMenu-list>li.isaSearchBar{display:none !important}
	.isaMenu>.isaMenu-list>li>a{padding:9px 32px 9px 18px;font-size:14px;text-align:left;border-right:solid 0;background-color:transparent;color:#666;line-height:25px;border-bottom:1px solid;position:static}
	.isaMenu>.isaMenu-list>li>.navtext{padding-left:18px}
	.isaMenu>.isaMenu-list>li.isaCartIcon a{padding-left:18px}
	.isaMenu>.isaMenu-list>li.wsshopmyaccount>a{padding-left:18px}
	.isaMenu>.isaMenu-list>li>a>i{font-size:16px;color:#bfbfbf}
	.isaMenu>.isaMenu-list>li.isaCartIcon a i{margin-right:7px;font-size:15px}
	.isaMenu>.isaMenu-list>li>a .wsarrow:after{display:none}
	.isaMenu>.isaMenu-list>li.isaCartIcon em.roundpoint{display:inline-block;right:auto;left:27px}
	.isaMenu>.isaMenu-list>li:hover>a{background-color:rgba(0,0,0,0.08);text-decoration:none}
	.isaMenu>.isaMenu-list>li>a>.hometext{display:inline-block}
	.isaMenu>.isaMenu-list>li.isaCartIcon .hidetxt{display:inline-block}
	.isaMenu>.isaMenu-list>li.isaSearchbar{display:none !important}
	.isaMenu>.isaMenu-list>li.isaCartIcon{float:none}
	.isaMenu>.isaMenu-list>li.wsshopmyaccount{float:none}
	.isaMenu>.isaMenu-list>li.isaCartIcon a{text-align:left;font-size:13px}
	.isaMenu>.isaMenu-list>li>ul.sub-menu{display:none;position:relative;top:0;background-color:#fff;border-bottom:solid 1px #ccc;padding:0;opacity:1;visibility:visible;-webkit-transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none;transform:none;-webkit-transition:inherit;-moz-transition:inherit;transition:inherit;-webkit-transform-style:flat}
	.isaMenu>.isaMenu-list>li>ul.sub-menu>li>a{line-height:20px;font-size:13px;padding:13px 0 13px 16px;color:#6e6e6e;border-bottom:solid 1px rgba(0,0,0,0.13)}
	.isaMenu>.isaMenu-list>li>ul.sub-menu>li span+a{padding-right:30px}
	.isaMenu>.isaMenu-list>li>ul.sub-menu>li>a:hover{background-color:#e7e7e7;color:#666;text-decoration:underline}
	.isaMenu>.isaMenu-list>li>ul.sub-menu li:hover>a{background-color:#e7e7e7;color:#666}
	.isaMenu>.isaMenu-list>li>.isaMegaMenu{background-color:#fff;color:#666;display:none;position:relative;top:0;padding:8px 0;border:solid 0;opacity:1;visibility:visible;transform:none;-o-transform:none;-moz-transform:none;-webkit-transform:none;border-bottom:1px solid rgba(0,0,0,0.13);-webkit-transform-style:flat}
	.isaMenu>.isaMenu-list>li>.isaMegaMenu.halfmenu{width:100%}
	.isaTabItem02>.isaShopLink-active>a:after{display:none}
	.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li{position:relative}
	.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li>a{width:100%;margin:0;float:none;font-size:12px;padding:14px 11px;font-weight:700}
	.isaMenu>.isaMenu-list>li .isaHeading{font-weight:400;padding-left:0;padding-right:0}
	.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li>.isaTitemRight{width:100%;position:static;top:0;min-height:inherit;padding:10px 0;opacity:1;visibility:visible;display:none;background-color:#fff;border-bottom:1px solid rgba(0,0,0,0.13)}
	.isaMenu>.isaMenu-list>li .isaBootSlider{width:auto}
	.isaMenu>.isaMenu-list>li .isatMegaMenuColr{width:auto}
	.isaMenu>.isaMenu-list>li .isaTliststy01>li{width:100%;padding:0;margin:0}
	.isaMenu>.isaMenu-list>li .isaTliststy02{width:100%;padding:0;margin:0 0 15px}
	.isaMenu>.isaMenu-list>li .isaTliststy03 li{width:100%}
	.isaMenu>.isaMenu-list>li .isaTliststy05{width:100%;padding:0;margin-bottom:10px}
	.isaMenu>.isaMenu-list>li .kitchenmenuimg{background-image:none}
	.isaMenu>.isaMenu-list>li .computermenubg{background-image:none}
	.isaMenu>.isaMenu-list>li .isaBrandBottom{width:100%;position:static;top:0;min-height:inherit;padding:10px 5px 15px;opacity:1;visibility:visible;display:none;border-bottom:1px solid rgba(0,0,0,0.13)}
	.isaMenu>.isaMenu-list>li .isaTabItem02{display:block}
	.isaMenu>.isaMenu-list>li .isaTabItem02>li{position:relative;text-align:left;display:block}
	.isaMenu>.isaMenu-list>li .isaTabItem02>li>a{padding:13px 11px;background-color:#fff}
	.isaMenu>.isaMenu-list>li .isaHeading{padding-left:0}
	.isaMenu-list>li>.navtext{margin:0}
	.isaMenu .isaMenu-list>li .isaShopTabingwp{background-color:#fff;padding-left:0;padding-right:0}
	.isaMenu>.isaMenu-list>li>.isaShopTabing{background-color:#fff;color:#666;display:none;position:relative;top:0;padding:0;border:solid 0;opacity:1;visibility:visible;transform:none;-o-transform:none;-moz-transform:none;-webkit-transform:none;-webkit-transform-style:flat}
	.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem{width:100%;background-color:#fff}
	.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li>a:after{border:none}
	.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li>a i{display:none}
	.isaMobileHeader{width:100%;display:block;position:fixed;top:0;left:0;z-index:999;height: 46px;background-color:#f7f7f7;text-align:center;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;transition:all .25s ease-in-out;box-shadow:0 0 1px rgba(0,0,0,.3);}
	.isaActive .isaMobileHeader{margin-left:260px;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
	.isaMobileHeader>.smllogo{display:block;width:auto;margin: 0px auto 0;float:none;padding-left:0;}
	.isaMobileHeader>.smllogo img{height: 30px;width:auto;}
	.mobiletext{display:inline-block}
	.isaMobileHeader .isaSearch{background-color:transparent;z-index:1000;position:absolute;top:0;right:0;padding: 0px 0px;cursor:pointer;}
	.isaMobileHeader .isaSearch i{font-size:18px;color:#9196a0}
	.isaMobileHeader .isaSearchform{display:none;position:absolute;width:100%;height:50px;line-height:44px;top:0;left:0;padding:13px 15px;cursor:default}
	.isaMobileHeader .isaSearch.isaOpenSearch{width:100%;background-color:#fff}
	.isaMobileHeader .isaSearch.isaOpenSearch .isaSearchform{display:block}
	.isaMobileHeader .isaSearchform form{width:calc(100% - 55px);display:block;position:relative}
	.isaMobileHeader .isaSearchform form:before{content:"\f002";font-family:"Font Awesome 5 Free";font-weight:900;left:12px;position:absolute;top:0;color:#777;height:34px;line-height:36px;font-size:15px}
	.isaMobileHeader .isaSearchform input{width:100%;height:34px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;border:solid 0;text-indent:33px;margin:0;line-height:18px;padding:0;display:block}
	.isaMobileHeader .isaSearch.isaOpenSearch{left:0;right:auto;width:100%;height:60px}
	.isaMobileHeader .isaSearch i.isaCloseSearch{display:none}
	.isaMobileHeader .isaSearch.isaOpenSearch i.isaCloseSearch{display:inline-block;float:right;font-size:23px}
	.isaMobileHeader .isaSearch.isaOpenSearch i.isaOpenSearch{display:none}
	.isaAnimatedArrow{position:absolute;left:0;top:0;z-index:102;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;cursor:pointer;padding:16px 35px 16px 0;margin: 6px 0 0 15px;}
	.isaAnimatedArrow span,.isaAnimatedArrow span:before,.isaAnimatedArrow span:after{cursor:pointer;height:2px;width:17px;background:#9196a0;position:absolute;display:block;content:''}
	.isaAnimatedArrow span:before{top:-7px;width:23px}
	.isaAnimatedArrow span:after{bottom:-7px;width:17px}
	.isaAnimatedArrow span,.isaAnimatedArrow span:before,.isaAnimatedArrow span:after{transition:all 500ms ease-in-out}
	.isaActive .isaAnimatedArrow span:after{width:23px}
	.isaActive .isaAnimatedArrow span{background-color:transparent}
	.isaActive .isaAnimatedArrow span:before,.isaActive .isaAnimatedArrow.active span:after{top:7px}
	.isaActive .isaAnimatedArrow span:before{transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);-webkit-transform:rotate(45deg);bottom:0}
	.isaActive .isaAnimatedArrow span:after{transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
	.isaMenu>.overlapblackbg{right:0;width:calc(100% - 260px);height:100vh;min-height:100%;position:fixed;top:0;opacity:0;visibility:hidden;background-color:rgba(0,0,0,0.45);cursor:pointer}
	.isaActive .isaMenu>.overlapblackbg{opacity:1;visibility:visible;-webkit-transition:opacity 1.5s ease-in-out;-moz-transition:opacity 1.5s ease-in-out;-ms-transition:opacity 1.5s ease-in-out;-o-transition:opacity 1.5s ease-in-out}
	.isaMenuContainer{-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
	.isaActive .isaMenuContainer{margin-left:260px;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
	.isaActive .isaMenu{overflow-y:scroll;-webkit-overflow-scrolling:touch;visibility:visible;z-index:1000;top:0}
	.isaActive .isaMenu>.isaMenu-list{-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;transition:all .25s ease-in-out;margin-left:0}
	.isaMenu>.isaMenu-list>li>.isaMenu-click{border-left:1px solid;cursor:pointer;display:block;height:60px;position:absolute;right:0;top:0;width:49px;z-index:10}
	.isaMenu>.isaMenu-list>li>.isaMenu-click>i{display:block;height:8px;width:8px;float:right;transform:rotate(-225deg);margin:23px 21px 0 0}
	.isaMenu>.isaMenu-list>li>.isaMenu-click>i:before{content:"";width:100%;height:100%;border-width:1.5px 1.5px 0 0;border-style:solid;border-color:rgba(0,0,0,0.40);transition:.2s ease;display:block;transform-origin:100% 0}
	.isaMenu>.isaMenu-list>li>.isaMenu-click.isaActiveArrow>i{transform:rotate(-45deg);margin-top:27px}
	.isaMenu .isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li>.isaMenu-click02{border-left:1px solid #f3f3f3;cursor:pointer;display:block;height:45px;position:absolute;right:0;top:0;width:49px;z-index:10;background-color:#f5f5f5}
	.isaMenu .isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li>.isaMenu-click02 i{display:block;height:8px;width:8px;float:right;transform:rotate(-225deg);margin:17px 21px 0 0}
	.isaMenu .isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li>.isaMenu-click02 i:before{content:"";width:100%;height:100%;border-width:1.5px 1.5px 0 0;border-style:solid;border-color:rgba(0,0,0,0.40);transition:.2s ease;display:block;transform-origin:100% 0}
	.isaMenu .isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li>.isaMenu-click02.isaActiveArrow02>i{transform:rotate(-45deg);margin-top:21px}
	.isaMenu .isaMenu-list>li>.isaBrandMenu>.isaShopTabingwp>.isaTabItem02>li>.isaMenu-click03{border-left:1px solid #f3f3f3;cursor:pointer;display:block;height:45px;position:absolute;right:0;top:0;width:49px;z-index:10;background-color:#f3f3f3}
	.isaMenu .isaMenu-list>li>.isaBrandMenu>.isaShopTabingwp>.isaTabItem02>li>.isaMenu-click03 i{display:block;height:8px;width:8px;float:right;transform:rotate(-225deg);margin:17px 21px 0 0}
	.isaMenu .isaMenu-list>li>.isaBrandMenu>.isaShopTabingwp>.isaTabItem02>li>.isaMenu-click03 i:before{content:"";width:100%;height:100%;border-width:1.5px 1.5px 0 0;border-style:solid;border-color:rgba(0,0,0,0.40);transition:.2s ease;display:block;transform-origin:100% 0}
	.isaMenu .isaMenu-list>li>.isaBrandMenu>.isaShopTabingwp>.isaTabItem02>li>.isaMenu-click03.isaActiveArrow03>i{transform:rotate(-45deg);margin-top:21px}

}

@media only screen and (min-width: 992px) and (max-width:1262px) {

  /* .isaMenu>.isaMenu-list>li.isaSearchbar {width: 21%;}
  .smllogo { width: 7%;}
  .isaMenu {width: 93% } */
}

.headerfull{background-color:#fff}
.isaMenu>.isaMenu-list{background-color:#f7f7f7}
.isaMenu>.isaMenu-list>li>.navtext>span{color:#9e9e9e}
.isaMenu>.isaMenu-list>li>.navtext>span+span{color:#555}
.isaMenu>.isaMenu-list>li>.navtext>span+span:after{color:#9e9e9e}
.isaMenu>.isaMenu-list>li.wsshopmyaccount>a{color:#828181}
.isaMenu>.isaMenu-list>.wsshopmyaccount>a i{color:#7b7b7b}
.isaMenu>.isaMenu-list>li.isaSearchbar>.topmenusearch>input{background-color:#eee}
.isaMenu>.isaMenu-list>li.isaSearchbar>.topmenusearch>.btnstyle{background-color:#eee}
.isaMenu>.isaMenu-list>li.isaSearchbar>.topmenusearch>input:focus{color:#000}
.isaMenu>.isaMenu-list>li>a{color:#fff}
.isaMenu>.isaMenu-list>li>a .wsarrow:after{border-top-color:#b3b3b3}
.isaMenu>.isaMenu-list>li>a:hover .wsarrow:after{border-top-color:#333}
.isaMenu>.isaMenu-list>li>a.active .wsarrow:after{border-top-color:#333}
.isaMenu>.isaMenu-list>li:hover>a .wsarrow:after{border-top-color:#333}
.isaMenu>.isaMenu-list>li>a>i{color:#898d91}
.isaMenu>.isaMenu-list>li>a.active i{color:#333}
.isaMenu>.isaMenu-list>li:hover>a>i{color:#333}
.isaMenu>.isaMenu-list>li>a:hover i{color:#333}
.isaMenu>.isaMenu-list>li.isaSearchbar>.topmenusearch>.btnstyle:hover{background-color:#d7d7d7}
.isaMenu>.isaMenu-list>li.isaSearchbar>.topmenusearch>.btnstyle:hover i{color:#333}
.isaMenu>.isaMenu-list>li.isaSearchbar>.topmenusearch>input:focus~.btnstyle{background-color:#d7d7d7}
.isaMenu>.isaMenu-list>li.isaSearchbar>.topmenusearch>input:focus~.btnstyle>i{color:#333}
.isaMenu>.isaMenu-list>li.isaSearchbar>.topmenusearch>input:focus~.btnstyle i{color:#333}
.isaMenu>.isaMenu-list>li>a.active{background-color:#f5f5f5;color:#333}
.isaMenu>.isaMenu-list>li:hover>a{background-color:#f5f5f5;color:#333}
.isaMenu>.isaMenu-list>li>ul.sub-menu>li:hover>a{background-color:#f5f5f5;color:#333;text-decoration:none}
.isaMenu>.isaMenu-list>li>ul.sub-menu>li>ul.sub-menu>li:hover>a{background-color:#f5f5f5;color:#333}
.isaMenu>.isaMenu-list>li>.isaShopTabing>.isaShopwp>.isaTabItem>li.isaShopLink-active>a{background-color:#f5f5f5;color:#555;border-left:3px solid #DA4B38}
.isaMobileHeader{background-color:#fff}
.wsactive .isaMobileHeader{border-left:solid 1px #e0e0e0}
.isaMenu>.isaMenu-list>li>.isaMenu-click{border-color:rgba(0,0,0,0.1)}
.isaMenu>.isaMenu-list>li>.isaMenu-click>i{color:rgba(0,0,0,0.25)}
.isaMenu>.isaMenu-list>li>a{border-bottom-color:rgba(0,0,0,0.13)}
.isaMenu>.isaMenu-list>li>ul.sub-menu{opacity:0;visibility:hidden;-o-transform-origin:0 0;-ms-transform-origin:0 0;-moz-transform-origin:0 0;-webkit-transform-origin:0 0;-o-transition:-o-transform 0.3s,opacity .3s;-ms-transition:-ms-transform 0.3s,opacity .3s;-moz-transition:-moz-transform 0.3s,opacity .3s;-webkit-transition:-webkit-transform 0.3s,opacity .3s;transform-style:preserve-3d;-o-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;transform:rotateX(-75deg);-o-transform:rotateX(-75deg);-moz-transform:rotateX(-75deg);-webkit-transform:rotateX(-75deg)}
.isaMenu>.isaMenu-list>li:hover>ul.sub-menu{opacity:1;visibility:visible;transform:rotateX(0deg);-o-transform:rotateX(0deg);-moz-transform:rotateX(0deg);-webkit-transform:rotateX(0deg)}
.isaMenu>.isaMenu-list>li>.isaMegaMenu{opacity:0;visibility:hidden;-o-transform-origin:0 0;-ms-transform-origin:0 0;-moz-transform-origin:0 0;-webkit-transform-origin:0 0;-o-transition:-o-transform 0.3s,opacity .3s;-ms-transition:-ms-transform 0.3s,opacity .3s;-moz-transition:-moz-transform 0.3s,opacity .3s;-webkit-transition:-webkit-transform 0.3s,opacity .3s;transform-style:preserve-3d;-o-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;transform:rotateX(-75deg);-o-transform:rotateX(-75deg);-moz-transform:rotateX(-75deg);-webkit-transform:rotateX(-75deg)}
.isaMenu>.isaMenu-list>li:hover>.isaMegaMenu{opacity:1;visibility:visible;transform:rotateX(0deg);-o-transform:rotateX(0deg);-moz-transform:rotateX(0deg);-webkit-transform:rotateX(0deg)}
.isaMenu-list>li>.isaShopTabing{opacity:0;visibility:hidden;-o-transform-origin:0 0;-ms-transform-origin:0 0;-moz-transform-origin:0 0;-webkit-transform-origin:0 0;-o-transition:-o-transform 0.3s,opacity .3s;-ms-transition:-ms-transform 0.3s,opacity .3s;-moz-transition:-moz-transform 0.3s,opacity .3s;-webkit-transition:-webkit-transform 0.3s,opacity .3s;transform-style:preserve-3d;-o-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;transform:rotateX(-75deg);-o-transform:rotateX(-75deg);-moz-transform:rotateX(-75deg);-webkit-transform:rotateX(-75deg)}
.isaMenu-list>li:hover .isaShopTabing{opacity:1;visibility:visible;transform:rotateX(0deg);-o-transform:rotateX(0deg);-moz-transform:rotateX(0deg);-webkit-transform:rotateX(0deg)}
.isaSearchToggler{border:0;outline:none!important;box-shadow:none;background:#fff;width:45px;height:45px;border-radius:50%;line-height:45px;text-align:center;color:#9e9e9e;font-size:17px;transition:all .4s ease}
.isaSearchToggler:hover{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.isaMenu .isaSearchToggler{position:absolute;top:7px;right:15px}
.headerSearch{position:fixed;top:0;left:0;width:100%;height:100vh;z-index:9999;display:none;opacity:0;visibility:hidden;transition:all .4s ease}
.searchOpen .headerSearch{display:block;opacity:1;visibility:visible}
.headerSearch .searchPanel{z-index:1;position:relative;background-color:#FFF}
.headerSearch .searchBackDropPanel{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.7);z-index:0}
.headerSearch .searchBox{position:relative;padding:20px 15px;display:flex;align-items:center;justify-content:space-between}
.headerSearch .searchBox .searchInput{height:36px;border-radius:0;padding:6px 12px;border:none;box-shadow:none;font-weight:600;outline:none!important;color:#4D586C;padding-top:0;padding-bottom:0;width:calc(100% - 100px);flex:calc(100% - 100px);height:34px;border:0;background-color:#fff}
.headerSearch .searchBox .searchSubmit,.headerSearch .searchBox .searchClose{cursor:pointer;text-decoration:no;border:0;outline:none!important;box-shadow:none;background:#fff;width:45px;height:45px;border-radius:50%;line-height:45px;text-align:center;color:#9e9e9e;transition:all .4s ease}
.headerSearch .trendingSearch{margin:0;background-color:#F5F5F5;max-height:calc(100vh - 50px);overflow-y:auto}

.navFooter{background:#fff;padding:10px 15px;border-top:1px solid #ddd}
.navFooter .title{text-transform:uppercase;font-size:1rem;margin-top:0;margin-bottom:10px;color:#4D586C}
.navFooter .navMedia img{width:40px;height:40px} 
.navFooter .navMedia .media-body{max-width:calc(100% - 50px)} 
.navFooter .navMedia .media-body h5{font-size:14px;font-weight:500;margin:0;margin-bottom:5px;color:#4D586C}
.navFooter .navMedia .media-body h5 a{color:#4D586C;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block}
.navFooter .navMedia .media-body p{font-size:12px;margin:0;color:#4D586C}

@media only screen and (min-width: 992px) {
	
	.isaMenu>.isaMenu-list>li.wsshopmyaccount{float:none;position:fixed;top:0;right:0}
	.isaMenu>.isaMenu-list>li.wsshopmyaccount>a{padding:0 25px 0 10px;line-height:40px;position:relative;text-transform:uppercase;font-size:12px;color:#f57b32!important;background:none!important;font-weight:600}
	.isaMenu>.isaMenu-list>li.wsshopmyaccount>a:hover{color:#fff!important;text-decoration:underline}
	.isaMenu>.isaMenu-list>.wsshopmyaccount>a i{color:#f57b32!important}
	.isaMenu>.isaMenu-list>.wsshopmyaccount>a:hover i{color:#fff!important}
	.isaMenu>.isaMenu-list>li>ul.sub-menu{top:39px;right:0;left:unset}
	.header .topNav{padding-right:90px}
}

.logoExt{max-width:120px;position:absolute;top:7px;right:30px;z-index:0}
.logoExt img{width:100%;height:auto}
.trendingSearch .menu-items{padding:10px 30px;padding-bottom:10px!important;transition:all .3s ease}
.trendingSearch .menu-items + .menu-items{border-top:1px solid #ddd}
.trendingSearch .menu-items:hover{background:#fff;box-shadow:0 1px 6px 0 #520000}
.text-new.jsx-2743981883 .list-name.jsx-2743981883{text-decoration:none;color:#333!important;font-size:16px;height:34px;display:block;line-height:35px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
img.jsx-2355921263{height:auto;width:35px;max-height:35px;max-width:35px;overflow:hidden}
.align-self-start{-webkit-align-self:flex-start;-ms-flex-item-align:start;align-self:flex-start}
.d-inline-block{display:inline-block}
.text-capitalize{text-transform:capitalize}
.desktop-search-list.jsx-2743981883 .tabs-container.jsx-2743981883{overflow:auto}
.flex-nowrap{-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap}
.trendingSearch .searchBody{padding:15px 30px}
.searchOpen{overflow:hidden}
@media only screen and (max-width: 991px) {
.logoExt{display:none}
}
@media only screen and (max-width: 767px) {
.trendingSearch .menu-items{padding:10px 15px}
.trendingSearch .searchBody{padding:15px}
}